.login{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: url('./img/Login.png')
}

.logo{
 margin:auto;
}
.login-overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#70627c;
  opacity: 0.25;
  z-index:-1;
}
.login-container{
  position:relative;
   text-align:center;
   top:-10px;
  width:300px;
  height:450px;
  border:1px solid #301649;
  box-shadow: 1px 1px 10px #111;
  margin:auto;
  padding:50px;
}